* {  
    /* margin: 0; */
    padding: 0;
    text-align: center;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #c2cad0;

    background: #333537;  
    background: -webkit-radial-gradient(#515355, #434547, #333537, #000); 
    background: radial-gradient(#515355, #434547, #333537, #000); 
    
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title {
    font-size: 1.3em;
    margin: 0.25em;
}

select {
    font-size: 0.9em !important;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
}

footer {
    color: #aeaeae;
}

a {
    color: #7FDBFF;
}

a:hover {
    color: #66c2e6;
}

select {
    width: 7.5vw;
    min-width: 10em;
    margin-bottom: 0.5em;
}

.custom-range {
    width: 5vw !important;
    min-width: 5em;
}

.range-label {
    font-size: 0.92em;
}

.mobile-line-break {
    display: none;
}

.buttons-container {
    margin-top: 0.4em;
}

@media screen and (max-width: 600px) {
    canvas {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }

    .mobile-line-break {
        display: inline;
    }
}