canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 16vh;
    bottom: 0;
    left: 0;
    right: 0;
}

label, #title {
    color: #ccc;
}

select {
    width: 7.5vw;
    min-width: 10em;
    margin-bottom: 0.5em;
}

#title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

#userControls {
    margin: auto;
    text-align: center;
}

.mobile-line-break {
    display: none;
}

.custom-range {
    width: 5vw !important;
    min-width: 5em;
}

@media screen and (max-width: 600px) {
    canvas {
        top: 25vh;
    }

    .mobile-line-break {
        display: inline;
    }
}